<div class="footer">
    <footer>
        &copy Subhajit Dey
        <br>
        <div class="love">
            Made with ❤️ by me
        </div>
    </footer>
</div>
</section>
</body>
</html>