<%- include("./partials/header.ejs") %> 
          <div class="body">
            <h1 style="text-align:center;">Hi Guys!Welcome to the Secret keeper Web App</h1>
            <div class="points">
            <ol type="A">
                <li><p>In order to see other's secrets you must login/register</p></li>
                <li><p>You must register before you can post your secrets anonymously</p></li>
                <li><p>Feel free to send me a hi in the contact page if you wanna connect with me :)</p></li>
                <li><p>Hope you enjoy this page!</p></li>
            </ol>
            </div>
           </div>
<%- include("./partials/footer.ejs") %> 