<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../public/css/login.css">
    <title>My-Portfolio-Site</title>
</head>
<body>
  <section>
    <div class="body">
      <h1>Hi Guys!Welcome to the Secret keeper App😊</h1>
      <div class="points">
      <ol type="A">
          <li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, cupiditate.</p></li>
          <li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, cupiditate.</p></li>
          <li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, cupiditate.</p></li>
          <li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, cupiditate.</p></li>
      </ol>
      </div>
     </div>
  </section>
</body>
</html>