<%- include("./partials/header.ejs") %>
<div class="container">
  <div class="row">
    <h1 style="text-align:center ;">Thank you for connecting!</h1>
  </div>
  <hr />
  <div class="row" style="height: 300px">
    <p style="text-align: center;">
      Hang Over! I will get to you soon
    </p>
  </div>
</div>
<%- include("./partials/footer.ejs") %>
